.form-navbar {
    display: flex;
    background-color: #505050;
    color: #fff;
    font-weight: bold;
}

.navbar-tab {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-tab:hover {
    background-color: #c89382;
    color: black;
}

.active {
    background-color: #c89382;
    color: black;
}