.dropdown {
    z-index: 100;
    background-color: #4c5158;
}

/* DropdownContent */
.dropdown-projects-content {
    position: absolute;
    z-index: 20;
    border: 1px solid #bf8a79; /* Use your desired border color */
    overflow: hidden;
    margin-top: 1px;
    overflow-y: auto;
    box-shadow: none;
    display: none;
    max-width: 200px;
    min-width: 200px;
}

/* Add styles for the open state */
.dropdown-projects-content.active {
    display: block;
    background-color: #ebf4fb;
}

/* DropdownList */
.dropdown-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    border-color: #ccc;
    color: #777;
}

.dropdown-list {
    margin: 5px 15px 5px 5px !important;
    padding: 0 !important;
}

/* DropdownItem */
.dropdown-item {
    padding: 1rem 1.25rem;
    margin: 0.2rem;
    white-space: normal !important; /* Add this line to control text wrapping */
    color: #000; /* Use your desired text color */
    text-decoration: none;
}

.dropdown-item:hover {
    font-weight: 600;
}

/* DropdownButton */
.dropdown-button {
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #FFF; /* Use your desired text color */
    background-color: #333; /* Use your desired background color */
    display: flex;
    justify-content: center; /* Horizontally center text */
    align-items: center; /* Vertically center text */
    min-width: 200px;
    max-width: 200px;
}

.dropdown-button svg {
    width: 15px;
    height: 15px;
    stroke-width: 4;
    stroke: #fff; /* Use your desired stroke color */
    transition: transform 0.3s ease; /* Add transition for animation */
}

.dropdown-button:hover {
    /* Add hover styles here, e.g., background-color, etc. */
}

.dropdown-button.open svg {
    transform: rotate(180deg);
}

/* Center the text */
.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}