.submissions-container {
    background-color: #ebf4fb;
    color: black;
    padding: 15px;
    width: 60%;
    margin-bottom: 100px;
}

.search {
    margin: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.search > input {
    background-color: transparent;
    border: 1px solid black;
    transition: border 0.3s, transform 0.3s;
}

.search > input:hover {
    border: 2px solid #c89382;
    transform: scale(1.05);
}

.search > input:focus {
    border: 2px solid #c89382;
    transform: scale(1.05);
    outline: none;
}

.form-item {
    position: relative;
    border-top: 1px solid black;
}

.delete-button {
    position: absolute;
    background-color: transparent;
    border-radius: 5px;
    padding: 3px;
    top: 1px;
    right: 1px;
    z-index: 1;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.delete-button:hover {
    color: red;
    transform: scale(1.2);
}

.date {
    margin-top: 5px;
}

.contact-info p {
    margin: 0;
}

.address {
    margin-top: 10px;
    margin-bottom: 10px;
}

.address p {
    margin-bottom: 0;
}

.message {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #e0c3b9;
}

.message p {
    margin: 5px;
}