.navbar-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c5158;
    position: relative; /* Add relative positioning */
}

.logo {
    width: 100px;
    height: 50px;
    display: flex;
    font-size: 14pt;
}

.logo img {
    margin-right: 15px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav p {
    padding: 0 15px 0 15px;
    color: white;
    font-size: 14pt;
    cursor: pointer;
}

.new-form {
    position: absolute;
    right: 10px;
    top: 70px;
    height: 100px;
    padding: 20px;
    font-size: 10pt;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0; /* Set padding to zero */
        margin-bottom: 60px; /* Set margin to zero */
    }

    .nav {
        flex-direction: row; /* Adjust to display items horizontally */
        align-items: center; /* Center items vertically */
        justify-content: space-between; /* Equal space between items */
        width: 100%;
    }

    .nav p {
        margin: 10px; /* Remove margin to reduce space between items */
    }

    .project-dropdown {
        width: 100%; /* Take up the full width of the container */
        text-align: left; /* Align the text to the left */
    }

    .dropdown-container {
        position: absolute;
        top: 100%; /* Position the dropdown container below the logo */
        left: 0;
    }
}