.navbar-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c5158;
    position: relative; /* Add relative positioning */
}

.logo {
    width: 100px;
    height: 50px;
    display: flex;
    font-size: 14pt;
}

.logo img {
    margin-right: 15px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav p {
    padding: 0 15px 0 15px;
    color: white;
    font-size: 14pt;
    cursor: pointer;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .navbar-container {
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin-bottom: 50px;
    }

    .logo {
        width: 90%;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav p {
        margin: 0;
    }

    .nav {
        display: flex;
        justify-content: end;
    }

    .new-form {
        display: none;
    }

    .nav-icons {
        display: flex;
        align-items: center;
    }

    .notifications,
    .logout {
        margin-left: auto; /* Push these icons to the right */
    }

    .project-dropdown {
        width: 100%;
        text-align: left;
    }

    .dropdown-container {
        position: absolute;
        top: 60%;
        left: 0;
    }
}